@tailwind base;
@tailwind components;
@tailwind utilities;

/* Özel animasyon */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-in-out;
}

/* Scrollbar stilini güzelleştirelim */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00d2be;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f1f1f;
}
